modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["google-cloud-sdk"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run build && npm start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8029
externalPort = 3003

[[ports]]
localPort = 8383
externalPort = 6000

[[ports]]
localPort = 8420
externalPort = 6800

[[ports]]
localPort = 8423
externalPort = 4200

[[ports]]
localPort = 8464
externalPort = 3002

[[ports]]
localPort = 8692
externalPort = 3001

[[ports]]
localPort = 8704
externalPort = 8008

[[ports]]
localPort = 8715
externalPort = 8081

[[ports]]
localPort = 8752
externalPort = 8080

[[ports]]
localPort = 8757
externalPort = 8000

[[ports]]
localPort = 8779
externalPort = 5000

[[ports]]
localPort = 8842
externalPort = 5173

[[ports]]
localPort = 8953
externalPort = 8099

[[ports]]
localPort = 8970
externalPort = 9000

[[ports]]
localPort = 9005
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
